@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<partial name="_StatusMessage" for="StatusMessage" />


<div class="form-section">
    <h3 class="manage-section-heading">@ViewData["Title"]</h3>

    <form class="manage-section-style" method="post">
        <div class="validation-text" asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating">
            <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
            <label asp-for="Username" class="form-label"></label>
        </div>
        <div class="form-floating">
            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
            <label asp-for="Input.PhoneNumber" class="form-label"></label>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
        <button class="form-submit-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
