@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="form-section">
    <h3 class="manage-section-heading">@ViewData["Title"]</h3>

        <p class="white-para">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p class="white-para">
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form class="form-section" asp-page="DownloadPersonalData" method="post">
            <button class="link-style-1" type="submit">Download</button>
        </form>
        <p>
            <a class="link-style-1" id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
