<!--
Student Name: Samarpreet Singh
Student Number: 200510621
Program: CMPG 2 Year Diploma
Section and CRN: Wednesday 7PM, 11437
-->
@{
    ViewData["Title"] = "Project Brief";
}
<h1 class="project-brief-heading">My Project Brief</h1>

<div class="container"> <!-- Company Info section-->
    <section class="company-info">
        <h2 class="company-info-heading">Company Info</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Company Description</th>
                    <th>Group Members and Roles</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var brief in Model)
                {
                    <tr>
                        <td>@brief["Company Name"]</td>
                        <td>@brief["Company Description"]</td>
                        <td>@brief["Group Members and Roles"]</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    <section class="proposal"> <!-- Proposal section for brief page -->
        <h2>Proposal</h2>
        <h3>About Crafty Creations</h3>
        <p>Crafty Creations is a user-friendly online marketplace that allows artisans to create profiles, list their handmade crafts, and connect with a global audience of art lovers and buyers. Artisans get recognition for their quality work and art lovers get their money's worth, it's a win-win!</p>

        <h3>Services/Products</h3>
        <p>Crafty Creations offers a wide range of handmade crafts, including cosplay outfits, unique and quality clothing accessories, fictional character figures, jewelry, pottery, textiles, home decor, and more. As the website scales along with new artisans, more and more categories will keep popping up!</p>

        <h3>Industry Need Fulfillment</h3>
        <p>Artisans and craft-makers struggle everyday to promote their craft. On giant marketplace websites, competition is fierce and talented artisans with high quality creations end up losing to mass-produced plastics and other items. This website fulfills the need for artisans to have an accessible platform to market and sell their unique creations, and for customers to discover and purchase handmade, one-of-a-kind items made with care and precision.</p>

        <h3>User Roles Required</h3>
        <ul>
            <li>Admin: Manages the site content, users, and 
                listings.
            </li>
            <li>
                Artisan/Seller: Creates a shop and puts up crafts/items for sale.
            </li>
            <li>
                Guest Customer: Browses, searches, and purchases handmade crafts from Artisan/Seller profiles, without access to member exclusive benefits.
            </li>
            <li>
                Member: Registered users with access to additional features and personalized recommendations, along with all features from Guest profiles.
            </li>
        </ul>

    </section>
</div>