<h1 class="project-brief-heading">My Project Brief</h1>

<section class="company-info">
    <h2 class="company-info-heading">Company Info</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Company Description</th>
                <th>Group Members and Roles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Crafty Creations</td>
                <td>Crafty Creations is an online marketplace dedicated to promoting and selling handmade crafts from artisans around the world. It provides a much-needed platform for artisans to showcase and sell their unique creations, from cosplay outfits and fictional character figures to home decor. All crafts/items will be certified to make sure they are of the highest quality!</td>
                <td>Samarpreet Singh, Full-Stack Developer</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="proposal">
    <h2>Proposal</h2>
    <h3>About Crafty Creations</h3>
    <p>Crafty Creations is a user-friendly online marketplace that allows artisans to create profiles, list their handmade crafts, and connect with a global audience of art lovers and buyers. Artisans get recognition for their quality work and art lovers get their money's worth, it's a win-win!</p>

    <h3>Services/Products</h3>
    <p>Crafty Creations offers a wide range of handmade crafts, including cosplay outfits, unique and quality clothing accessories, fictional character figures, jewelry, pottery, textiles, home decor, and more. As the website scales along with new artisans, more and more categories will keep popping up!</p>

    <h3>Industry Need Fulfillment</h3>
    <p>Artisans and craft-makers struggle everyday to promote their craft. On giant marketplace websites, competition is fierce and talented artisans with high quality creations end up losing to mass-produced plastics and other items. This website fulfills the need for artisans to have an accessible platform to market and sell their unique creations, and for customers to discover and purchase handmade, one-of-a-kind items made with care and precision.</p>

    <h3>User Roles Required</h3>
    <ul>
        <li>Admin: Manages the site content, users, and 
            listings.
        </li>
        <li>
            Artisan/Seller: Creates a shop and puts up crafts/items for sale.
        </li>
        <li>
            Guest Customer: Browses, searches, and purchases handmade crafts from Artisan/Seller profiles, without access to member exclusive benefits.
        </li>
        <li>
            Member: Registered users with access to additional features and personalized recommendations, along with all features from Guest profiles.
        </li>
    </ul>

</section>