@{
    ViewData["Title"] = "Welcome to Crafty Creations!";
}

<section class="home-page-intro">
    <div class="text-center">
        <div class="row">
            <img src="/images/crafty-creations-logo-white.png" alt="logo-with-slogan">
        </div>
        <h1 class="home-page-heading">Welcome to Crafty Creations!</h1>
        <div class="home-page-intro-description">
            <div class="row">
                <div class="mx-auto">
                    <p>Unique Crafts Galore! Get quality crafts from certified artisans!</p>
                </div>
            </div>
            <div class="row">
                <img src="/images/home-page-intro-fantasy.svg" alt="fantasy-fairy-icon">
            </div>
        </div>
    </div>
</section>
