<!--
Student Name: Samarpreet Singh
Student Number: 200510621
Program: CMPG 2 Year Diploma
Section and CRN: Wednesday 7PM, 11437
-->

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="privacy-page-heading">Privacy - Our Angle</h1>

<div class="container"> <!-- Company Info section-->
    <section class="privacy-policy-section"> <!-- Proposal section for brief page -->
        <h2>Privacy Policy</h2>
        <p>Your privacy and security are of utmost importance to us. This Privacy Policy explains how we collect, use, disclose, and protect your personal information when you use our website.</p>

        <h3>Personal Information</h3>
        <p>Sellers are required to provide some important personal information like Date of Birth to verify their legitimacy. Sellers can request deletion of their data at any time and we will do it, no questions asked. However, this will result in them being unable to promote their products on the website and have a shop, since personal information is required for that purpose. We do take the utmost care when it comes to personal information though, and do everything we can to prevent compromise.</p>
        <p>As for guests and members, personal information collected is kept to the minimum. Details that are absolutely required for orders to be shipped however, are still collected. Examples - Full name and address.</p>

        <h3 id="payment-info-policy">Payment Information</h3>
        <ul>
            <li>Members and Guests: Payments are handled through a third party payment system from Stripe, an industry standard for handling payments. Your sensitive payment information is never collected by us and is "shredded" as soon as you finalize your order and the money has been drawn out.
            </li>
            <li>
                Artisan/Seller: For ensuring smooth delivery of funds, a Stripe account has to be linked with our website. However, we do not access the Seller's banking information. In case the seller needs Payment Support, information is accessed only after permission is obtained and then deleted immediately afterwards.
            </li>
        </ul>

        <h3>Usage and Device Information</h3>
        <p>Your usage and cookies are not tracked by default. However, if you wish to receive targeted ads to make your experience better, you may enable tracking through settings. It will help us provide personalized recommendations for you, but that choice is not for us to make. We respect your privacy critically.</p>

        <h3>Contact Us</h3>
        <p>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at our <a href="mailto:customerservice@craftycreations.com">Email Address.</a></p>
        <p>Thank you for visiting Crafty Creations. We respect your privacy and are dedicated to providing a secure and anonymous browsing experience.</p>
    </section>
</div>
