@model MainProject.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<div class="container">
    <h1 class="categories-heading">Category Details</h1>

    <div class="categories-subheading">
        <h2>@Html.DisplayFor(model => model.Name)</h2>

        <p>@Html.DisplayFor(model => model.Description)</p>

    </div>

    <div class="products-container">
        <h2 class="categories-subheading">Products in This Category</h2>

        <partial name="~/Views/Shared/Products/_ProductsDisplayPartial.cshtml" model="Model.Products"></partial>
        <!-- .Products field is the ICollection part from the category.cs model -->

    </div>

    <div class="link-para-container">
        <a class="action-button-edit" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="link-style-1" asp-action="Index">Back to Categories List</a>
    </div>
</div>
