@model MainProject.Models.Category

@{
    ViewData["Title"] = "Edit Category - Crafty Creations";
}

<div class="container">
    <h1 class="categories-heading">Edit an Existing Category</h1>

    <h2 class="categories-subheading">Category Details</h2>
    <div class="row" id="edit-categories-container">
        <div class="col-md-4 custom-centered">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <partial name="~/Views/Shared/Categories/_CategoriesCreateEditPartial.cshtml" model="Model" />
                <div class="form-group">
                    <input type="submit" value="Save Changes!" class="action-button-save" />
                </div>
            </form>
        </div>
    </div>

    <p class="link-para-container">
        <a class="link-style-1" asp-action="Index">Back to Categories List</a>
    </p>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
