@model List<MenuItem>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @foreach (var menuItem in Model)
        {
            <li class="nav-item">
                <a class="link-style-nav" asp-controller="@menuItem.Controller"
                    asp-action="@menuItem.Action">@menuItem.Label</a>
            </li>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="link-style-nav" asp-controller="Orders" asp-action="Index">My Orders</a>
            </li>
        }
    </ul>

    <ul class="navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="link-style-nav" asp-area="Identity" , asp-page="/Account/Manage/Index" class="nav-link text-dark">
                    Hello @User.Identity.Name!
                </a>
            </li>

            <li class="nav-item">
                <a class="link-style-nav" asp-area="Identity" asp-page="/Account/Logout" class="nav-link text-dark">
                    Logout
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="link-style-nav" asp-area="Identity" asp-page="/Account/Register" class="nav-link text-dark">
                    Register
                </a>
            </li>
            <li class="nav-item">
                <a class="link-style-nav" asp-area="Identity" asp-page="/Account/Login" class="nav-link text-dark">
                    Login
                </a>
            </li>
        }
    </ul>
</div>
</div>
</nav>