@model List<MenuItem>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @foreach (var menuItem in Model)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="@menuItem.Controller"
                    asp-action="@menuItem.Action">@menuItem.Label</a>
            </li>
        }
    </ul>
</div>
</div>
</nav>