@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="manage-page">
    <div class="black-overlay">
        <div class="container">

            <div class="logout-section">
                @{
                    if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <form class="manage-section-style" asp-area="Identity" asp-page="/Account/Logout"
                            asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <h1 class="manage-section-heading">@ViewData["Title"]</h1>
                            <button class="link-style-1" type="submit" class="nav-link btn btn-link text-dark">Click here to
                                Logout!</button>
                        </form>
                    }
                    else
                    {
                        <p>You have successfully logged out of the application.</p>
                    }
                }
            </div>
        </div>
    </div>
</div>
