/*
Student Name: Samarpreet Singh
Student Number: 200510621
Program: CMPG 2 Year Diploma
Section and CRN: Wednesday 7PM, 11437
Assignment 1
*/
  
.home-page-heading {
  color: #FDB827;
}

.home-page-intro-description p {
  color: #d0fff7;
  padding-top: 11%;
  text-decoration: underline;
}

.text-center > .row:first-child > img{
  width: 15%;
  height: auto;
  
}

.home-page-intro-description img {
  width: 11%;
  height: auto;
  margin-left: 89%;
}
  
.home-page-intro{
  height: auto;
  width: 100%;
  background-image: url('../images/home-page-intro.jpg');
  background-size: 100% 100%;
  background-position: center;
}

.text-center{
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.4); /* darkening the background with the div so text and logos are more visible */
}