@model MainProject.Models.Product

@{
    ViewData["Title"] = "Create Product - Crafty Creations";
}

<div class="container">
    <h1 class="products-heading">Create a New Product</h1>

    <h2 class="products-subheading">Product Details</h2>
    <hr />
    <div class="row" id="create-products-container">
        <div class="col-md-4 custom-centered">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control description-box" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MSRP" class="control-label"></label>
                    <input asp-for="MSRP" class="form-control" />
                    <span asp-validation-for="MSRP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Product!" class="action-button-create" />
                </div>
            </form>
        </div>
    </div>

    <p class="link-para-container">
        <a class="link-style-2" asp-action="Index">Back to Categories List</a>
    </p>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
