@model MainProject.Models.Product

@{
    ViewData["Title"] = "Edit Product - Crafty Creations";
}

<div class="container">
    <h1 class="products-heading">Edit an Existing Product</h1>

    <h2 class="products-subheading">Product Details</h2>
    <hr />
    <div class="row" id="create-products-container">
        <div class="col-md-4 custom-centered">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <partial name="~/Views/Shared/Products/_ProductsCreateEditPartial.cshtml" model="Model" />
                <div class="form-group">
                    <input type="submit" value="Save Changes!" class="action-button-save"/>
                </div>
            </form>
        </div>
    </div>

    <p class="link-para-container">
        <a class="link-style-2" asp-action="Index">Back to Categories List</a>
    </p>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
